*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'BMEULJIRO';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.first{
  width: 100vw;
  height: 70vh;
  overflow: hidden;
}

.menu{
  width: 100vw;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  background-color: rgba(0, 0, 0, 0.212);
  z-index: 2;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 6vh;
  font-family: 'BMEULJIRO';
  position:absolute;
  left: 10px;
  font-size: 1.5rem;
  color: rgb(167, 14, 14);
}

.logo>img{
  width: 6vw;
  height: 6vh;
  position: relative;
  left: 25px;
}

.menu>li{
  font-size: 1.5rem;
  list-style-type: none;
  margin: 50px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: 'BMEULJIRO';
}

.item1:hover{
  color: rgb(167, 14, 14);
}
.item2:hover{
  color: rgb(167, 14, 14);
}
.item3:hover{
  color: rgb(167, 14, 14);
}
.item4:hover{
  color: rgb(167, 14, 14);
}

.main{
  width: 100vw;
  height: 74vh;
  display: flex;
  overflow: hidden;
  position: relative;
}
.imgbox{
  width: 500vw;
  height: 74vh;
  position: absolute;
  display: flex;
  z-index: 1;
}
.imgbox>li{
  width: 500vw;
  height: 74vh;
  list-style-type: none;
}
.imgbox>li>img{
  width: 100vw;
  height: 74vh;
}
@media (max-width:1300px) {
  .logo>img{
    display: none;
  }
}

@media (max-width:850px) {
  .menu>li{
    font-size: 1rem;
    margin: 20px;
  }
  .first{
    height: 46vh;
  }
  .main{
    height: 50vh;
  }
  .imgbox{
    height: 50vh;
  }
  .imgbox>li{
    height: 50vh;
  }
  .imgbox>li>img{
    height: 50vh;
  }
}

@media (max-width:550px) {
  .logo{
    font-size: 1rem;
  }
  .menu>li{
    font-size: 0.7rem;
    margin: 12px;
  }
}